#torch==2.0.1
#torchvision==0.15.2
onnxruntime==1.19.0
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy==1.24.4
rapidfuzz
opencv-python==4.5.*
opencv-contrib-python==4.5.*
opencv-python-headless==4.5.*
cython
Pillow
pyyaml
requests
albumentations
fastapi